.password-container {
  display: flex;
  align-items: center;
  padding: 14px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
  color: var(--color-primary);
}

.password-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.show-password {
  color: var(--color-accent);
  cursor: pointer;
}