.landing {
  background: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

/* Header */
.header {
  /* width: 100%; */
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-landing {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
  display: flex;
  align-items: end;
}

.logo-landing img {
  width: 65px;
}

.nav-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 12px;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid transparent;
}

.login-btn {
  border-color: var(--color-border);
  color: var(--color-primary);
}

.signup-btn {
  background: var(--color-accent);
  color: #ffffff;
}

/* Hero Section */
.hero {
  padding: 100px 40px 60px 40px;
  max-width: 700px;
}

.hero-title {
  font-size: 48px;
  line-height: 56px;
  color: var(--color-primary);
}

.hero-subtitle {
  font-size: 18px;
  margin-top: 20px;
  color: var(--color-secondary);
  max-width: 500px;
}

.cta-btn {
  margin-top: 30px;
  display: inline-block;
  padding: 14px 26px;
  background: var(--color-accent);
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
}

/* Features Section */
.features {
  margin-top: 80px;
  display: flex;
  gap: 25px;
  padding: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  background: var(--color-card);
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  width: 260px;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 30px 40px;
  text-align: center;
  color: var(--color-secondary);
  font-size: 14px;
}