.container {
  margin: 0 auto;
  padding: 20px;
  /* max-width: 800px; */
  /* position: relative; */
}

.notes-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  font-size: 12px;
  line-height: 16px;
}

.new-note {
  font-size: 25px;
  color: white;
}

.new-btn {
  display: flex;
  border-radius: 16px;
  width: 50px;
  background: var(--color-accent);
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  cursor: pointer
}

.note-modal {
  width: 50%;
  background: var(--color-bg);
  padding: 20px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
}

.deleting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1000;
}

.fullnote-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullnote-container {
  background: var(--color-bg);
  padding: 30px;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: auto;
  width: 60%;
}

.fullnote-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.fullnote-content {
  font-size: 16px;
  margin-bottom: 20px;
  line-break: anywhere;
  line-height: 1.6;
}

.close-fullnote-btn {
  padding: 10px 20px;
  background: var(--color-accent);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fullnote-container h2 {
  margin-top: 0;
  text-align: center;
  font-size: 22px;
}
@media (max-width: 768px) {
  .note-modal {
    width: 80%;
  }

  .notes-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .fullnote-container {
    width: 80%;
  }

  .fullnote-title {
    font-size: 18px;
  }

  .fullnote-content {
    font-size: 14px;
    line-height: 1.4;
  }

  .close-fullnote-btn {
    font-size: 14px;
    padding: 8px 10px;
  }

  .fullnote-container h2 {
    font-size: 20px;
  }
}