.profile-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 9px;
}

.profile-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: slategray;
  padding: 8px;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 800;
}

.profile-name {
  font-size: 15px;
  color: var(--color-secondary);
  font-weight: 700;
  margin: 5px;
  text-align: center;
}

.logout-btn {
  color: var(--color-secondary);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout-icon {
  color: var(--color-secondary);
  cursor: pointer;
}

.logout-icon:hover {
  color: var(--color-primary);
}

.mobile-profile-info {
  display: none;
}

@media (max-width: 600px) {
  .profile-name {
    font-size: 13px;
  }

  .profile-initial {
    padding: 6px;
    font-size: 14px;
  }

  .profile-info {
    gap: 5px;
    display: none;
  }

  .mobile-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .mobile-profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    position: absolute;
    top: 70px;
    background-color: var(--color-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 80px;
    right: 0px;
  }
}