.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2e3f4;
  padding: 4px 11px;
  border-radius: 4px;
}

.searchbar {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 4px 16px;
}

.search-icon,
.clear-icon {
  color: slategray;
  cursor: pointer;
}

.clear-icon{
  margin-right: 5px;
}

.search-icon:hover,
.clear-icon:hover {
  color: var(--color-secondary);
}