nav {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.logo-container {
  display: flex;
  justify-items: center;
  align-items: start;
}

.logo {
  /* width: 50px; */
  /* margin: 0; */
}

.logo-name {
  font-size: 23px;
  color: var(--color-accent);
  /* margin: 0; */
}

.logo-name span {
  color: var(--text-secondary);
}